name: AutoUpdateTransAndComits

on : push

jobs:
  updatetransdata:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}
      - name: SetupPython
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: InstallLibrary
        run: pip install openpyxl
      - name: UpdateTransAndVisorData
        run: python update_newvisor_data.py
      - name: GetAllChangeFiles
        id: changed-file
        uses: tj-actions/changed-files@v10.1
      - uses: stefanzweifel/git-auto-commit-action@v4
        id: update-transdata
        with:
          commit_message: AutoComit Update:trans data
      - name: UpdateTransDataComitHash
        uses: jossef/action-set-json-field@v1
        with:
          file: visor/visorData.json
          field: updateComitHash
          value: ${{ steps.update-transdata.outputs.commit_hash }}
      - name: UpdateVisorDataCommitHash
        run: python feat_commit_hash.py ${{ steps.update-transdata.outputs.commit_hash }} ${{ steps.changed-file.outputs.all_changed_and_modified_files }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: AutoCommit feat:comit hashs
